[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "extern/rapidcsv"]
	path = extern/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot.git
